  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Trang Quản Trị Hệ Thống
        <small>Just basic</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Trang chủ quản trị</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <img class="img-responsive" src="../Content/Asset/img/logo-2.jpg" />
        </div>
    </div><!-- /.box -->
</section><!-- /.content -->