@model JustBasic.Web.Models.FooterViewModel

<div class="container">
    <div class="box-icon row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="banner-footer-item">
                <img src="/Content/Asset/img/icon-vanchuyen.png">
                <div class="banner-footer-item-info">
                    <p class="banner-footer-item-title">Miễn phí vận chuyển toàn quốc</p>
                    <p class="banner-footer-item-des">Với Đơn Hàng Trên 500.000 đ</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="banner-footer-item">
                <img src="/Content/Asset/img/icon-hotro.png">
                <div class="banner-footer-item-info">
                    <p class="banner-footer-item-title">Hỗ trợ 24/7</p>
                    <p class="banner-footer-item-des">090 251 29 97</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="banner-footer-item">
                <img src="/Content/Asset/img/icon-doitra.png">
                <div class="banner-footer-item-info">
                    <p class="banner-footer-item-title">Miễn phí đổi trả</p>
                    <p class="banner-footer-item-des">Trong Vòng 10 ngày</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>

    <div class="footer-block">
        <div class="container">
            <div class="footer-address clearfix">






                <div class="adress-item">
                    <h4>Chi nhánh chính</h4>
                    <ul>
                        <li class="add"><i class="fa fa-home"></i>232 Đỗ Xuận Hợp Phường Phước Long A Quận 9</li>
                        <li class="hotline"><a href="tel:0902512997"><i class="fa fa-phone"></i>090 251 29 97</a></li>
                    </ul>
                </div>







                <div class="adress-item">
                    <h4>Chi nhánh 2</h4>
                    <ul>
                        <li class="add"><i class="fa fa-home"></i>Đang cập nhật...</li>
                        <li class="hotline">
                            <a href="#">
                                <i class="fa fa-phone"></i>Đang cập nhật...
                            </a>
                        </li>
                    </ul>
                </div>







                <div class="adress-item">
                    <h4>Store 3</h4>
                    <ul>
                        <li class="add"><i class="fa fa-home"></i>Đang cập nhật...</li>
                        <li class="hotline"><a href="#"><i class="fa fa-phone"></i>Đang cập nhật...</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>


    <div class="footer-socials text-center">
        <div class="container">
            <h4>Like Justbasic trên mạng xã hội</h4>
            <ul class="clearfix">

                <li><a href="https://www.facebook.com/Just.BasicHanghieuxk/" class="fb"><i class="fa fa-facebook"></i></a></li>


                <li><a href="https://www.instagram.com" class="in"><i class="fa fa-instagram"></i></a></li>

            </ul>
        </div>
    </div>


    <div class="footer-newsletter text-center">
        <div class="container">
            <h4>Sign up for the newsletter</h4>
            <p class="sub">Sign up to receive must-have style news and updates before anyone else.</p>
            <div class="link">
                <a href="https:trang/lien-he.html">Contact us</a>
            </div>
        </div>
    </div>

    <div class="copyright">
        © 2018 JUSTBASIC. Văn phòng: 232 Đỗ Xuận Hợp Phường Phước Long A Quận 9
    </div>
</footer>
<a href="#" class="scrollToTop">
    <i class="fa fa-angle-up"></i>
</a>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=612698039124736&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>