<div class="page-footer" style="height:auto; padding-top:13px; background:#f4f4f4 !important; position: inherit;">
    <div class="row">
        <div style="text-align: center; padding-bottom:13px">
            <p style="margin-bottom: 0px;"><b style="font-size: 18px">CÔNG TY CỔ PHẦN CON CƯNG</b></p>
            <p style="margin-bottom: 0px;">Trụ sở: 101-103 Trần Quang Khải, P.Tân Định, Q.1, HCM </p>
            <p style="margin-bottom: 0px;">Văn phòng: Tầng 4 Toà nhà Lawrence S.Ting, 801 Đại lộ Nguyễn Văn Linh, P.Tân Phú, Q.7, HCM </p>
        </div>
    </div>
</div>