@{
    ViewBag.Title = "Trang thành viên";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuMember")
    </div>
    <div class="col-md-9">
    </div>
</div>