  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh sách Sizes
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Sizes</a></li>
        <li class="active">Danh sách</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-body">
            <di class="row">
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="keyword" placeholder="Từ khóa">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()"><i class="fa fa-search"></i> Tìm kiếm</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-4">
                    <!--<a class="btn btn-warning" href="/Assets/admin/templates/ProductImportTemplate.xlsx">Download template</a>
                    <button class="btn btn-primary" ui-sref="product_import">Nhập</button>-->
                    <button class="btn btn-success" ui-sref="size_add">Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
                    <!--<button class="btn btn-default" ng-click="exportExcel()">Xuất ra Excel</button>-->
                </div>
            </di>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
                            <th style="width: 5%">ID</th>
                            <th style="width:75%">Tên size</th>
                            <th style="width: 10%">Trạng thái</th>
                            <th style="width: 10%">Thao tác</th>
                        </tr>
                        <tr ng-repeat="item in sizes">
                            <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                            <td>{{item.ID}}</td>
                            <td>{{item.Name}}</td>
                            <!--class="badge bg-red"-->
                            <td style="text-align:center;vertical-align:middle;">
                                <label class="badge bg-green" ng-show="item.Status">Có hiển thị</label>
                                <label class="badge bg-red" ng-show="!item.Status">Không hiển thị</label>
                            </td>
                            <td style="text-align:center;vertical-align:middle;">
                                <!--<button class="btn btn-sm btn-default" ng-click="exportPdf(item.ID)"><i class="fa fa-file-excel-o"></i></button>-->

                                <button class="btn btn-sm btn-primary" ui-sref="size_edit({id:item.ID})"><i class="fa fa-pencil"></i></button>
                                <button class="btn  btn-sm btn-danger" ng-click="deleteSize(item.ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProducts(page)"></pager-directive>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->